@model HomeIndexModel
@{
    ViewData["Title"] = "Animals";
}
<h1>Список тварин</h1>
<br>
<a asp-action="Create" class="btn btn-success">Додати</a>
<br>
<br>
@await Html.PartialAsync("_Search", Model.Search)
<br>
@*Передаємо дані на іншу сторінку, яка є частичною вюшкою,
    Дана вюшка має бути у поточній папці, або у папці Shared*@
@await Html.PartialAsync("_List", Model.Animals)

@await Html.PartialAsync("_Pagination", Model)

<div class="modal" tabindex="-1" id="modalDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Удалить зверюшку</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Уверены ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Не уверен</button>
                <button type="button" class="btn btn-primary" id="btnDeleteAnimal">Удалить</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/axios/axios.min.js"></script>
    <script>
        $(function () {
            var deleteItem;
            $("[data-delete-animal]").on("click", function (e) {
                deleteItem = $(this).closest('a'); //елемент, який я видаляю
                e.preventDefault();
                $("#modalDelete").modal("show");
                console.log(deleteItem.attr("data-id"));
            });
            $("#btnDeleteAnimal").on("click", function () {
                var url = `/animal/delete/${deleteItem.attr("data-id")}`;
                axios.post(url)
                    .then(function (result) {
                        deleteItem.closest("tr").remove();
                        $("#modalDelete").modal("hide");
                        //console.log(result);
                    });
            });
        });
    </script>
}


@*@section Scripts {
        <script src="~/lib/axios/axios.min.js"></script>
        <script>
            $(function () {
                var deleteItem;
                $("[data-delete-animal]").on("click", function (e) {
                    deleteItem = $(this).closest('a'); //елемент, який я видаляю
                    e.preventDefault();
                    $("#modalDelete").modal("show");
                    console.log(deleteItem.attr("data-id"));
                });
                $("#btnDeleteAnimal").on("click", function () {
                    var url = `/animal/delete/${deleteItem.attr("data-id")}`;
                    axios.post(url)
                        .then(result => {

                            $("#modalDelete").modal("hide");

                        }).then(result => {
                            setTimeout(() => {
                                deletecat.closest("tr").remove();
                            }, 3000)
                        }).catch(function (error) {
                            console.log(error);
                        });
                });
            });
        </script>
    }*@
