@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Старт</h1>
    @User.Identity.Name
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a asp-controller="Home" asp-action="Index">Home</></a>
<a asp-controller="Autorize" asp-action="LogOFF">Log off</></a>